/* Clases de colores */
.verde-lima {
  color: var(--verde-lima);
}
.verde-cielo {
  color: var(--verde-cielo);
}
.azul-agua {
  color: var(--azul-agua);
}
.purple {
  color: var(--purple);
}
.purple-accent {
  color: var(--purple-accent);
}
.purple-accent-light {
  color: var(--purple-accent-light);
}
