.animationAvatars {
  --delay: 0s;
  opacity: 0;
  animation: animationAvatars 20s infinite alternate calc(var(--delay) - 60s);
}

@keyframes animationAvatars {
  0% {
    opacity: 0;
  }
  10%, 20% {
    opacity: 1;
  }
  40%, 100% {
    opacity: 0;
  }
}